In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import KFold

In [3]:
# # Import data
df_train = pd.read_json(open("./data/train.json", "r"))
df_test = pd.read_json(open("./data/test.json", "r"))

In [4]:
X = df_train
y = df_train['interest_level']

In [5]:
kf = KFold(n_splits=5, shuffle=True, random_state=1337)

In [10]:
X.iloc[49351]

bathrooms                                                          1
bedrooms                                                           2
building_id                         5173052db6efc0caaa4d817112a70f32
created                                          2016-04-12 02:48:07
description        Look no further!!!  This giant 2 bedroom apart...
display_address                                    Park Terrace East
features                                           [Hardwood Floors]
interest_level                                                   low
latitude                                                     40.8699
listing_id                                                   6858245
longitude                                                   -73.9172
manager_id                          d7f57128272bfd82e33a61999b5f4c42
photos             [https://photos.renthop.com/2/6858245_c4380bde...
price                                                           2200
street_address                                  30 Park Terrace East
Name: 99994, dtype: object

In [12]:
for train_index, test_index in kf.split(df_train):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

TRAIN: [    0     2     4 ..., 49345 49346 49347] TEST: [    1     3     7 ..., 49349 49350 49351]
TRAIN: [    0     1     2 ..., 49349 49350 49351] TEST: [    5    11    12 ..., 49340 49345 49347]
TRAIN: [    0     1     2 ..., 49349 49350 49351] TEST: [    4     6    16 ..., 49336 49337 49342]
TRAIN: [    0     1     3 ..., 49349 49350 49351] TEST: [    2     8     9 ..., 49339 49344 49346]
TRAIN: [    1     2     3 ..., 49349 49350 49351] TEST: [    0    10    14 ..., 49328 49332 49341]